# 忽略整个 Gradle 缓存文件夹
.gradle/
build/

# 忽略整个 Android Studio 个人设置文件夹
.idea/

# 忽略本地 SDK 路径配置（保护隐私且防止路径报错）
local.properties
.env
.env.*
backend/auth.db
backend/*.db
*.keystore
*.jks

# 忽略编译产生的临时文件
*.iml
/captures
.externalNativeBuild
.cxx
